/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'Tahoma';
  src: url("../fonts/FMBF_Tahoma.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/FMBF_Tahoma.eot?#iefix") format("embedded-opentype"), url("../fonts/FMBF_Tahoma.woff") format("woff"), url("../fonts/FMBF_Tahoma.ttf") format("truetype"), url("../fonts/FMBF_Tahoma.svg#svgFontName") format("svg");
  /* Legacy iOS */ }
@font-face {
  font-family: 'Arm';
  src: url("../fonts/ARMHLV.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/ARMHLV.eot?#iefix") format("embedded-opentype"), url("../fonts/ARMHLV.woff") format("woff"), url("../fonts/ARMHLV.ttf") format("truetype"), url("../fonts/ARMHLV.svg#svgFontName") format("svg");
  /* Legacy iOS */ }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Regular.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype"), url("../fonts/Roboto-Regular.svg#svgFontName") format("svg");
  /* Legacy iOS */ }
@font-face {
  font-family: 'Roboto Medium';
  src: url("../fonts/Roboto-Medium.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.ttf") format("truetype"), url("../fonts/Roboto-Medium.svg#svgFontName") format("svg");
  /* Legacy iOS */ }
@font-face {
  font-family: "aricons";
  src: url("../fonts/aricons.eot");
  src: url("../fonts/aricons.eot?#iefix") format("embedded-opentype"), url("../fonts/aricons.woff") format("woff"), url("../fonts/aricons.ttf") format("truetype"), url("../fonts/aricons.svg#aricons") format("svg");
  font-weight: normal;
  font-style: normal; }
[data-icon]:before {
  font-family: "aricons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "aricons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-search:before {
  content: "\61"; }

.icon-hamburger:before {
  content: "\62"; }

.icon-angle-double-left:before {
  content: "\63"; }

.icon-angle-double-right:before {
  content: "\64"; }

.icon-angle-double-up:before {
  content: "\65"; }

.icon-angle-double-down:before {
  content: "\6b"; }

.icon-angle-down:before {
  content: "\66"; }

.icon-angle-left:before {
  content: "\67"; }

.icon-angle-right:before {
  content: "\68"; }

.icon-angle-up:before {
  content: "\69"; }

.icon-phone:before {
  content: "\6a"; }

.icon-youtube-play:before {
  content: "\6c"; }

.icon-facebook:before {
  content: "\6d"; }

.icon-social-youtube-outline:before {
  content: "\6e"; }

.icon-social-youtube:before {
  content: "\6f"; }

.icon-play:before {
  content: "\70"; }

.icon-youtube-square:before {
  content: "\71"; }

.icon-youtube:before {
  content: "\72"; }

.icon-play-1:before {
  content: "\74"; }

body {
  font-family: Tahoma;
  font-size: 14px; }

a {
  color: #212121;
  text-decoration: none; }

.left {
  float: left; }

.right {
  float: right; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%; }

.list-inline {
  width: 100%;
  display: inline-block; }

.list-inline > * {
  display: inline-block;
  vertical-align: top; }

header, footer {
  box-sizing: border-box;
  display: inline-block;
  width: 100%; }

img {
  max-width: 100%; }

.icon-play-1 {
  position: relative;
  text-align: center;
  cursor: pointer; }
  .icon-play-1:before {
    position: absolute;
    display: inline-block;
    font-size: 45px;
    color: #212121;
    opacity: 0.87;
    z-index: 5;
    top: calc(50% - 35px);
    left: calc(50% - 35px);
    pointer-events: all;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: all 0.3s;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.24);
    -o-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.24); }
  .icon-play-1:hover:before {
    color: #e65100;
    opacity: 0.95;
    -webkit-box-shadow: 2px 3px 4px 0px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 2px 3px 4px 0px rgba(0, 0, 0, 0.24);
    -o-box-shadow: 2px 3px 4px 0px rgba(0, 0, 0, 0.24);
    box-shadow: 2px 3px 4px 0px rgba(0, 0, 0, 0.24); }

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 8px; }

::-webkit-scrollbar-track {
  background-color: #eaeaea; }

::-webkit-scrollbar-thumb {
  background-color: #a8a8a8; }

[class^="col"],
[class*=" col"] {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box; }

.col-100 {
  width: 100%; }

.col-80 {
  width: calc(80% - 10px); }

.col-75, .slider-newsfeed .newsfeed ul li p {
  width: calc(75% - 10px); }

.col-70 {
  width: calc(70% - 10px); }

.col-60 {
  width: calc(60% - 10px); }

.col-50 {
  width: calc(50% - 10px); }

.col-40 {
  width: calc(40% - 10px); }

.col-33 {
  width: calc(33% - 10px); }

.col-30 {
  width: calc(30% - 10px); }

.col-25, .slider-newsfeed .newsfeed ul li img {
  width: calc(25% - 10px); }

.col-20 {
  width: calc(20% - 10px); }

.currency {
  position: relative;
  width: 150px;
  height: 20px;
  overflow: hidden; }
  .currency ul li {
    position: absolute;
    display: inline-block;
    transition: all 0.3s;
    animation-name: appearFromBottom;
    animation-duration: 16s;
    animation-iteration-count: infinite;
    /*top: 0;*/
    visibility: hidden;
    opacity: 0; }
    .currency ul li:first-child {
      animation-delay: 0s; }
    .currency ul li:nth-child(2) {
      animation-delay: 4s; }
    .currency ul li:nth-child(3) {
      animation-delay: 8s; }
    .currency ul li:nth-child(4) {
      animation-delay: 12s; }

.slider {
  padding-right: 26px; }
  .slider ul {
    box-sizing: border-box; }
    .slider ul li {
      -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.25);
      -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.25);
      -o-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.25);
      box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.25);
      /*cursor: pointer;*/
      /*&:hover {
        @include box-shadow(slider);
      }*/ }
  .slider .main-img {
    /*position: relative;*/
    width: 100%;
    height: 320px; }
    .slider .main-img > div {
      width: 100%;
      height: 320px;
      box-sizing: border-box;
      display: inline-block;
      position: absolute;
      padding: 0;
      top: 0;
      left: 0;
      /*opacity: 0;
      visibility: hidden;
      transition: all 0.3s;
      animation-name: fadInOut;
      animation-iteration-count: infinite;
      animation-duration: 12s;
      &:first-child {
        animation-delay: 0s;
      }
      &:nth-child(2) {
        animation-delay: 4s;
      }
      &:nth-child(3) {
        animation-delay: 8s;
      }*/ }
      .slider .main-img > div img {
        width: 100%;
        height: 100%; }
      .slider .main-img > div .description {
        width: 100%;
        padding: 20px;
        height: 80px;
        box-sizing: border-box;
        background-color: rgba(255, 255, 255, 0.62);
        position: relative;
        bottom: 80px; }
        .slider .main-img > div .description h3 {
          font-family: Tahoma;
          font-size: 22px;
          text-align: center;
          color: #004964;
          padding: 0px 0 10px; }
          .slider .main-img > div .description h3 span {
            font-size: 15px;
            color: #212121; }
        .slider .main-img > div .description p {
          font-size: 15px;
          color: #212121;
          line-height: 1.4; }
  .slider .imgs-list {
    margin-top: 25px; }
    .slider .imgs-list img {
      width: 100%;
      height: 120px; }
    .slider .imgs-list li {
      /* animation-name: sliderActiveItem;
       animation-iteration-count: infinite;
       animation-duration: 12s;
       transition: all 0.3s;
       border: 3px double transparent;
       &:first-child {
         animation-delay: 0s;
       }
       &:nth-child(2) {
         animation-delay: 4s;
       }
       &:nth-child(3) {
         animation-delay: 8s;
       }
       &:not(:last-child) {
         margin-right: 12px;
       }*/ }

@keyframes appearFromBottom {
  0% {
    opacity: 1;
    visibility: 1;
    top: 25px; }
  10% {
    top: 0px; }
  20% {
    opacity: 1;
    visibility: visible;
    top: 0; }
  40% {
    top: -25px;
    opacity: 0;
    visibility: hidden;
    transition: none; }
  60% {
    top: -25px;
    opacity: 0;
    visibility: hidden;
    transition: none; }
  80% {
    top: 25px;
    transition: all 0.3s; }
  100% {
    top: 025x;
    transition: all 0.3s; } }
@-webkit-keyframes appearFromBottom {
  0% {
    opacity: 1;
    visibility: 1;
    top: 25px; }
  10% {
    top: 0px; }
  20% {
    opacity: 1;
    visibility: visible;
    top: 0; }
  40% {
    top: -25px;
    opacity: 0;
    visibility: hidden;
    transition: none; }
  60% {
    top: -25px;
    opacity: 0;
    visibility: hidden;
    transition: none; }
  80% {
    top: 25px;
    transition: all 0.3s; }
  100% {
    top: 025x;
    transition: all 0.3s; } }
@keyframes fadInOut {
  0% {
    opacity: 1;
    visibility: visible; }
  20% {
    opacity: 1; }
  33.33% {
    opacity: 0;
    visibility: hidden; }
  66.66% {
    opacity: 0; }
  80% {
    opacity: 0; }
  100% {
    opacity: 1;
    visibility: visible; } }
@-webkit-keyframes fadInOut {
  0% {
    opacity: 1;
    visibility: visible; }
  20% {
    opacity: 1; }
  33.33% {
    opacity: 0;
    visibility: hidden; }
  66.66% {
    opacity: 0; }
  80% {
    opacity: 0; }
  100% {
    opacity: 1;
    visibility: visible; } }
@keyframes sliderActiveItem {
  0% {
    border-color: #e65100; }
  20% {
    border-color: #e65100; }
  33.33% {
    border-color: transparent; }
  66.66% {
    border-color: transparent; }
  80% {
    border-color: transparent; }
  100% {
    border-color: #e65100; } }
@-webkit-keyframes sliderActiveItem {
  0% {
    border-color: #e65100; }
  20% {
    border-color: #e65100; }
  33.33% {
    border-color: transparent; }
  66.66% {
    border-color: transparent; }
  80% {
    border-color: transparent; }
  100% {
    border-color: #e65100; } }
.logo {
  display: inline-block;
  width: 90px;
  height: 66px;
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.menu {
  display: inline-block; }

.deg {
  font-family: Tahoma;
  display: inline-block;
  position: relative;
  padding-right: 15px; }

.deg:before {
  content: 'o';
  display: inline-block;
  position: absolute;
  top: -3px;
  right: 8px; }

.menu a {
  font-family: Tahoma;
  font-size: 14px;
  letter-spacing: 0.025em;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  transition: all 0.3s; }

.main-menu .has-submenu {
  position: relative; }
  .main-menu .has-submenu a {
    padding: 19px 20px 20px 15px; }
  .main-menu .has-submenu i {
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    color: #757575;
    position: absolute;
    top: 20px;
    right: 0; }
    .main-menu .has-submenu i:before {
      display: inline-block;
      transition: all 0.3s; }
  .main-menu .has-submenu .submenu {
    min-width: 500px;
    max-width: 0;
    max-height: 0;
    display: inline-block;
    visibility: hidden;
    opacity: 0;
    padding: 20px;
    box-sizing: border-box;
    position: absolute;
    top: 60px;
    right: 0;
    transition: all 0.3s;
    background-color: #d3d3db;
    border: 1px solid #ccc;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.25);
    -o-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.25); }
    .main-menu .has-submenu .submenu:hover {
      -webkit-box-shadow: 2px 3px 4px 0px rgba(0, 0, 0, 0.24);
      -moz-box-shadow: 2px 3px 4px 0px rgba(0, 0, 0, 0.24);
      -o-box-shadow: 2px 3px 4px 0px rgba(0, 0, 0, 0.24);
      box-shadow: 2px 3px 4px 0px rgba(0, 0, 0, 0.24); }
    .main-menu .has-submenu .submenu > li h4 {
      font-size: 14px;
      margin-bottom: 15px;
      color: #004964; }
    .main-menu .has-submenu .submenu > li .sublist {
      font-size: 13px;
      line-height: 1.4; }
      .main-menu .has-submenu .submenu > li .sublist li {
        color: #757575;
        cursor: pointer; }
        .main-menu .has-submenu .submenu > li .sublist li:hover {
          color: #212121; }
  .main-menu .has-submenu > a:focus i {
    top: 15px; }
    .main-menu .has-submenu > a:focus i:before {
      transform: rotate(180deg); }
  .main-menu .has-submenu > a:focus + .submenu,
  .main-menu .has-submenu > a + .submenu:hover {
    max-width: 1000px;
    max-height: 500px;
    visibility: visible;
    opacity: 1;
    z-index: 5; }

header {
  padding: 0;
  /*background-color: #b7b4c5;*/
  background-image: url(../images/bg.jpg);
  background-position: center 0;
  background-size: 100%;
  background-repeat: no-repeat;
  -webkit-box-shadow: 2px 3px 4px 0px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 2px 3px 4px 0px rgba(0, 0, 0, 0.24);
  -o-box-shadow: 2px 3px 4px 0px rgba(0, 0, 0, 0.24);
  box-shadow: 2px 3px 4px 0px rgba(0, 0, 0, 0.24); }
  header .menu {
    padding: 20px 0 0px; }
    header .menu > li {
      transition: all 0.3s;
      border-bottom: 3px solid transparent; }
      header .menu > li a {
        padding: 20px 15px 20px;
        color: #004964; }
      header .menu > li:hover {
        border-bottom: 3px solid rgba(230, 81, 0, 0.42); }
      header .menu > li.active {
        border-bottom: 3px solid #e65100; }
      header .menu > li:hover a, header .menu > li.active a {
        color: #226b86; }
  header .info-container {
    width: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 7px 0;
    font-family: Tahoma;
    font-size: 13px;
    line-height: 1.4;
    color: #eee;
    letter-spacing: 0.04em; }
    header .info-container > ul > li {
      display: inline-block; }
      header .info-container > ul > li:not(:first-child) {
        margin-left: 20px; }
    header .info-container .left {
      margin-top: 5px; }
    header .info-container .date .time {
      display: inline-block;
      margin-left: 10px; }
    header .info-container .phone i {
      display: inline-block;
      vertical-align: middle;
      font-size: 17px;
      color: rgba(230, 81, 0, 0.42);
      padding: 5px 5px 0; }
    header .info-container .search {
      padding-right: 20px;
      position: relative; }
      header .info-container .search input[type="search"] {
        background-color: transparent;
        border-width: 0 0 1px 0;
        outline: none !important;
        padding: 5px 0 5px 20px;
        color: #eee;
        font-size: 13px; }
        header .info-container .search input[type="search"]::-webkit-search-cancel-button {
          -webkit-appearance: none;
          -moz-appearance: none;
          width: 8px;
          height: 8px;
          display: inline-block;
          cursor: pointer;
          position: absolute;
          top: 5px;
          right: -6px;
          border: 5px solid transparent;
          background-image: linear-gradient(to bottom right, transparent 41%, #ccc calc(41% + 1px), transparent calc(41% + 2px)), linear-gradient(to bottom left, transparent 41%, #ccc calc(41% + 1px), transparent calc(41% + 2px));
          background-repeat: no-repeat; }
        header .info-container .search input[type="search"] + i {
          position: absolute;
          left: 0;
          top: 5px;
          font-size: 15px;
          color: #eee; }
        header .info-container .search input[type="search"]:hover, header .info-container .search input[type="search"]:focus {
          border-color: rgba(230, 81, 0, 0.42); }
          header .info-container .search input[type="search"]:hover + i, header .info-container .search input[type="search"]:focus + i {
            color: rgba(230, 81, 0, 0.42); }
  header .logo-menu {
    padding: 10px 0 0; }

.seperator {
  display: inline-block;
  width: 100%;
  height: 40px;
  padding: 0 calc(50% - 40px);
  box-sizing: border-box;
  background-color: transparent;
  background-image: url("../images/logo_min.png");
  background-position: center center;
  background-size: 80px 40px;
  background-repeat: no-repeat;
  -webkit-box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.24);
  -o-box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.24); }

.container > h2,
.content > div > h2 {
  font-size: 25px;
  position: relative;
  margin-bottom: 25px;
  z-index: 1; }

.heading {
  font-family: Tahoma;
  font-size: 22px;
  color: #eee;
  padding: 15px;
  margin-bottom: 10px;
  background-color: rgba(230, 81, 0, 0.8);
  text-align: left;
  -webkit-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.24);
  -o-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.24);
  background-image: url(../images/poly-bg.png); }

.slider-newsfeed {
  padding: 30px 0 60px; }
  .slider-newsfeed .newsfeed ul {
    height: 413px;
    overflow: auto; }
    .slider-newsfeed .newsfeed ul li {
      padding: 10px 0 10px 10px;
      margin: 3px 0;
      cursor: pointer;
      transition: all 0.3s;
      -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.24);
      -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.24);
      -o-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.24);
      box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.24);
      /*&:last-child {
      	margin-bottom: 1px;
      }*/ }
      .slider-newsfeed .newsfeed ul li:first-child {
        margin-top: 0; }
      .slider-newsfeed .newsfeed ul li:nth-child(2n+1) {
        background-color: #fff; }
      .slider-newsfeed .newsfeed ul li:nth-child(2n) {
        background-color: #f0f0f0; }
      .slider-newsfeed .newsfeed ul li:hover {
        background-color: rgba(230, 81, 0, 0.42); }
        .slider-newsfeed .newsfeed ul li:hover p {
          color: #212121; }
          .slider-newsfeed .newsfeed ul li:hover p .date {
            color: #757575; }
      .slider-newsfeed .newsfeed ul li > * {
        display: inline-block;
        vertical-align: top; }
      .slider-newsfeed .newsfeed ul li img {
        height: 55px; }
      .slider-newsfeed .newsfeed ul li p {
        font-family: Tahoma;
        font-size: 12px;
        line-height: 1.2;
        color: #757575; }
        .slider-newsfeed .newsfeed ul li p .date {
          color: #a5a5a5; }

.watch-live {
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.24);
  -o-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.24);
  padding: 30px 0 40px;
  position: relative; }
  .watch-live:after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../images/bg.jpg);
    opacity: 0.35;
    top: 0;
    left: 0;
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 0; }
  .watch-live .container {
    position: relative;
    z-index: 1; }
  .watch-live > div .video-live {
    padding-right: 40px; }
    .watch-live > div .video-live img {
      width: 100%;
      height: 300px; }
  .watch-live > div .tv-program {
    box-sizing: border-box;
    padding: 0 50px; }
    .watch-live > div .tv-program h3 {
      font-size: 22px;
      color: #004964;
      padding: 0 10px; }
    .watch-live > div .tv-program h5 {
      font-size: 18px;
      color: #004964;
      opacity: 0.67;
      padding: 10px; }
    .watch-live > div .tv-program ul {
      font-size: 20px;
      line-height: 1; }
      .watch-live > div .tv-program ul span {
        display: inline-block; }
      .watch-live > div .tv-program ul .time {
        font-size: 18px;
        color: #757575; }
      .watch-live > div .tv-program ul .program-name {
        color: #212121;
        margin-left: 10px; }
      .watch-live > div .tv-program ul li {
        cursor: pointer;
        padding: 10px; }
        .watch-live > div .tv-program ul li:hover {
          background-color: rgba(230, 81, 0, 0.42); }
  .watch-live .next-in-program {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 14px;
    color: #004964; }
    .watch-live .next-in-program a {
      color: #1E88E5; }

.best-watch-list {
  padding: 30px 0 40px;
  position: relative;
  opacity: 1;
  border-top: 3px double rgba(230, 81, 0, 0.42);
  background-color: #e0e0e0; }
  .best-watch-list ul {
    text-align: center;
    position: relative;
    z-index: 1; }
    .best-watch-list ul li {
      box-sizing: border-box; }
      .best-watch-list ul li:not(:last-child) {
        padding-right: 13px; }
      .best-watch-list ul li img {
        width: 100%;
        height: 180px; }
      .best-watch-list ul li h2 {
        margin-top: 13px;
        font-size: 15px;
        color: #004964; }

.programs {
  padding: 30px 0; }
  .programs .heading {
    margin-bottom: 50px; }
  .programs .program {
    position: relative;
    margin: 80px 0;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2); }
    .programs .program:first-of-type {
      margin-top: 0; }
    .programs .program:last-of-type {
      margin-bottom: 0; }
    .programs .program .main-img,
    .programs .program .secondary-imgs {
      position: relative;
      padding: 20px; }
      .programs .program .main-img img,
      .programs .program .secondary-imgs img {
        width: 100%; }
    .programs .program .main-img {
      cursor: pointer;
      /*&:hover {
      	.description {
      		opacity: 1;
      		visibility: visible;
      		top: 0;
      	}
      }*/ }
      .programs .program .main-img img {
        height: 350px; }
    .programs .program .secondary-imgs img {
      height: 165px; }
      .programs .program .secondary-imgs img:first-child {
        margin-bottom: 20px; }
    .programs .program.left-60, .programs .program.right-60 {
      border-color: #e65100;
      border-style: solid; }
      .programs .program.left-60:before, .programs .program.left-60:after, .programs .program.right-60:before, .programs .program.right-60:after {
        content: '';
        position: absolute;
        background-color: #e65100;
        width: 18px;
        height: 6px; }
      .programs .program.left-60:before, .programs .program.right-60:before {
        top: 0; }
      .programs .program.left-60:after, .programs .program.right-60:after {
        bottom: 0; }
    .programs .program.left-60 {
      border-width: 0 0 0 6px;
      text-align: left; }
      .programs .program.left-60:before, .programs .program.left-60:after {
        left: 0; }
      .programs .program.left-60 .secondary-imgs {
        padding-left: 50px; }
    .programs .program.right-60 {
      border-width: 0 6px 0 0;
      text-align: right; }
      .programs .program.right-60:before, .programs .program.right-60:after {
        right: 0; }
      .programs .program.right-60 .secondary-imgs {
        padding-right: 50px; }
    .programs .program .description {
      position: absolute;
      top: 0px;
      padding: 20px;
      width: calc(100% - 40px);
      height: 100%;
      box-sizing: border-box;
      background-color: rgba(255, 255, 255, 0.62);
      transition: all 0.6s;
      z-index: 1; }
      .programs .program .description h3 {
        font-family: Tahoma;
        font-size: 25px;
        color: #212121;
        padding: 30px 0; }
      .programs .program .description p {
        font-size: 15px;
        color: #757575;
        line-height: 1.4; }

footer {
  background-color: #1e1e1e;
  background-image: url(../images/poly-bg.png);
  /*background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;*/ }
  footer .footer-menu {
    padding: 15px;
    margin-top: 5px; }
    footer .footer-menu .left {
      width: 25%; }
    footer .footer-menu .right {
      text-align: right; }
    footer .footer-menu > li h3 {
      color: #ccc;
      font-size: 15px;
      padding-bottom: 10px;
      text-transform: uppercase; }
    footer .footer-menu > li h5 {
      font-size: 13px;
      color: #757575;
      line-height: 1.4; }
      footer .footer-menu > li h5 i {
        display: inline-block;
        vertical-align: middle;
        color: #a5a5a5; }
    footer .footer-menu > li ul {
      font-size: 13px;
      color: #757575; }
      footer .footer-menu > li ul .time {
        font-size: 12px;
        color: #555; }
      footer .footer-menu > li ul li {
        padding: 5px 0; }
    footer .footer-menu > li .social-icon a {
      font-size: 18px;
      color: #a5a5a5;
      margin-left: 10px;
      transition: color 0.3s; }
      footer .footer-menu > li .social-icon a:hover {
        color: #ccc; }
  footer .copyright {
    width: 100%;
    text-align: center;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.8);
    color: #a5a5a5;
    font-size: 13px;
    padding: 12px 0; }

/*# sourceMappingURL=style.css.map */
