.seperator {
	display: inline-block;
	width: 100%;
	height: 40px;
	padding: 0 calc(50% - 40px);
	box-sizing: border-box;
	background-color: transparent;
	background-image: url('../images/logo_min.png');
	background-position: center center;
	background-size: 80px 40px;
	background-repeat: no-repeat;
	@include box-shadow(seperator);
}
.container,
.content > div {
	>h2 {
		font-size: 25px;
		position: relative;
		margin-bottom: 25px;
		z-index: 1;
	}
}
.heading {
	font-family: Tahoma;
	font-size: 22px;
	color: #eee;
	padding: 15px;
	margin-bottom: 10px;
	background-color: rgba(230, 81, 0, 0.8);
	text-align: left;
	@include box-shadow(shadow24plus);
}
.slider-newsfeed {
	padding: 30px 0 60px;	
	
	.newsfeed {
		ul {
			height: 413px;
			overflow: auto;
			li {
				padding: 10px 0 10px 10px;
				margin: 3px 0;
				cursor: pointer;
				transition: all 0.3s;
				@include box-shadow(shadow24);
				&:first-child {
					margin-top: 0;
				}
				/*&:last-child {
					margin-bottom: 1px;
				}*/
				&:nth-child(2n+1) {
					background-color: #fff;
				}
				&:nth-child(2n) {
					background-color: #f0f0f0;
				}
				&:hover {
					background-color: rgba(230, 81, 0, 0.42);
					p {
						color: #212121;
						.date {
							color: #757575;
						}
					}
				}
				>* {
					display: inline-block;
					vertical-align: top;
				}
				img {
					@extend .col-25;
					height: 55px;
				}
				p {
					@extend .col-75;
					font-family: Tahoma;
					font-size: 12px;
					line-height: 1.2;
					color: #757575;
					.date {
						color: #a5a5a5;
					}
				}
			}
		}
	}
}
.watch-live {
	@include box-shadow(shadow24);
	padding: 30px 0 40px;
	position: relative;
	&:after {
		content: '';
		display: inline-block;
		position: absolute;
		width: 100%;
		height: 100%;
		background-image: url(../images/bg.jpg);
		opacity: 0.35;
		top: 0;
		left: 0;
		background-size: 100% 100%;
		background-position: center center;
		background-repeat: no-repeat;
		z-index: 0;
	}
	.container {
		position: relative;
		z-index: 1;
	}	
	>div {
		.video-live {
			padding-right: 40px;
			img {
				width: 100%;
				height: 300px;
			}
		}
		.tv-program {
			box-sizing: border-box;
			padding: 0 50px;
			h3 {
				font-size: 22px;
				color: #004964;
				padding: 0 10px;
			}
			h5 {
				font-size: 18px;
				color: #004964;
				opacity: 0.67;
				padding: 10px;
			}
			ul {
				font-size: 20px;
				line-height: 1;
				span {
					display: inline-block;
				}
				.time {
					font-size: 18px;
					color: #757575;
				}
				.program-name {
					color: #212121;
					margin-left: 10px;
				}
				li {
					cursor: pointer;
					padding: 10px;
					&:hover {
						background-color: rgba(230, 81, 0, 0.42);
					}
				}
			}
		}
	}
	.next-in-program {
		position: absolute;
		bottom: 0;
		right: 0;
		font-size: 14px;
		color: #004964;
		a {
			color: #1E88E5;
		}
	}
}
.best-watch-list {
	padding: 30px 0 40px;
	position: relative;
	opacity: 1;
	border-top: 3px double rgba(230, 81, 0,0.42);
	background-color: #e0e0e0;
	ul {
		text-align: center;
		position: relative;
		z-index: 1;
		li {
			box-sizing: border-box;
			&:not(:last-child) {
				padding-right: 13px;
			}
			img {
				width: 100%;
				height: 180px;
			}
			h2 {
				margin-top: 13px;
				font-size: 15px;
				color: #004964;
			}
		}
	}
}
.programs {
	padding: 30px 0;
	.heading {
		margin-bottom: 50px;
	}
	.program {
		position: relative;
		margin: 80px 0;
		@include box-shadow(shadow20);
		&:first-of-type {
			margin-top: 0;
		}
		&:last-of-type {
			margin-bottom: 0;
		}
		.main-img,
		.secondary-imgs {
			position: relative;
			padding: 20px;
			img {
				width: 100%;
			}
		}
		.main-img {
			cursor: pointer;
			img {
				height: 350px;
			}
			/*&:hover {
				.description {
					opacity: 1;
					visibility: visible;
					top: 0;
				}
			}*/
		}
		.secondary-imgs {
			img {
				height: 165px;
				&:first-child {
					margin-bottom: 20px;
				}
			}
		}
		&.left-60,
		&.right-60 {
			border-color: #e65100;
			border-style: solid;
			&:before,
			&:after {
				content: '';
				position: absolute;
				background-color: #e65100;
				width: 18px;
				height: 6px;
			}
			&:before {
				top: 0;
			}

			&:after {
				bottom: 0;
			}

		}
		&.left-60 {
			border-width: 0 0 0 6px;
			text-align: left;
			&:before,
			&:after {
				left: 0;
			}
			.secondary-imgs {
				padding-left:  50px;
			}
		}
		&.right-60 {
			border-width: 0 6px 0 0;
			text-align: right;
			&:before,
			&:after {
				right: 0;
			}
			.secondary-imgs {
				padding-right:  50px;
			}
		}
		.description {
			position: absolute;
			top: 0px;
			padding: 20px;
			width: calc(100% - 40px);
			height: 100%;
			box-sizing: border-box;
			background-color: rgba(255, 255, 255,  0.62);
			transition: all 0.6s;
			z-index: 1;
			h3 {
				font-family: Tahoma;
				font-size: 25px;
				color: #212121;
				padding: 30px 0;
			}
			p {
				font-size: 15px;
				color: #757575;
				line-height: 1.4;
			}
		}
	}
}