.seperator {
	display: inline-block;
	width: 100%;
	height: 40px;
	padding: 0 calc(50% - 40px);
	box-sizing: border-box;
	background-color: transparent;
	background-image: url('../images/logo_min.png');
	background-position: center center;
	background-size: 80px 40px;
	background-repeat: no-repeat;
	@include box-shadow(seperator);
	margin-bottom: -1px;
}
.container,
.content > div {
	>h2 {
		font-size: 25px;
		position: relative;
		margin-bottom: 25px;
		z-index: 1;
	}
}
.heading {
	font-family: Tahoma;
	font-size: 22px;
	color: #eee;
	padding: 15px;
	margin-bottom: 10px;
	text-align: left;
	@include box-shadow(shadow24plus);
	background-repeat: no-repeat;
	background-image: url(../images/poly-bg.png),
	                  linear-gradient(to right, rgba(230, 81, 0, 0.8) 1%, transparent 65%, transparent 66%);
}
.slider-newsfeed {
	padding: 30px 0 40px;	
	
	.newsfeed {
		@include box-shadow(shadow24);
		ul {
			height: 413px;
			overflow: auto;
			li {
				width: 100%;
				padding: 0;
				margin: 3px 0;
				cursor: pointer;
				transition: all 0.3s;
				@include box-shadow(shadow24);
				&:first-child {
					margin-top: 0;
				}
				/*&:last-child {
					margin-bottom: 1px;
				}*/
				&:nth-child(2n+1) {
					background-color: #fff;
				}
				&:nth-child(2n) {
					background-color: #f0f0f0;
				}
				&:hover {
					background-color: #d3d3db;
					p {
						color: #212121;
						.date {
							color: #004964;
						}
					}
				}
				a {
					padding: 10px 0 10px 10px;
					display: inline-block;
					width: 100%;
					box-sizing: border-box;
					>* {
						display: inline-block;
						vertical-align: top;
					}
				}
				img {
					@extend .col-25;
					height: 55px;
				}
				p {
					@extend .col-75;
					font-family: Tahoma;
					font-size: 12px;
					line-height: 1.2;
					color: #757575;
					.date {
						color: #226b86;
					}
				}
			}
		}
	}
}
.watch-live {
  	border: 1px solid #e0e0e0;
	padding: 30px 0 40px;
	position: relative;
	background-color: #f5f5fd;
	background-image: url(../images/poly-bg.png);
	&:after {
		content: '';
		display: inline-block;
		position: absolute;
		width: 100%;
		height: 100%;
		/*background-image: url(../images/bg.jpg);*/
		opacity: 0.35;
		top: 0;
		left: 0;
		background-size: 100% 100%;
		background-position: center center;
		background-repeat: no-repeat;
		z-index: 0;
	}
	.container {
		position: relative;
		z-index: 1;
	}	
	>div {
		.video-live {
			padding-right: 40px;
			img {
				width: 100%;
				height: 300px;
			}
		}
		.tv-program {
			box-sizing: border-box;
			padding: 0 50px;
			h3 {
				font-size: 22px;
				color: #004964;
				padding: 0 10px;
			}
			h5 {
				font-size: 18px;
				color: #004964;
				opacity: 0.67;
				padding: 10px;
			}
			ul {
				font-size: 20px;
				line-height: 1;
				max-height: 240px;
				overflow: auto;
				span {
					display: inline-block;
				}
				.time {
					font-size: 18px;
					color: #757575;
				}
				.program-name {
					color: #212121;
					margin-left: 10px;
				}
				li {
					padding: 10px;
					&:hover {
						background-color: rgba(230, 81, 0, 0.42);
					}
				}
			}
		}
	}
	.next-in-program {
		position: absolute;
		bottom: 0;
		right: 0;
		font-size: 14px;
		color: #004964;
		a {
			color: #1E88E5;
		}
	}
}
.best-watch-list {
	padding: 50px 0 100px;
	ul {
		text-align: center;
		position: relative;
		z-index: 1;
		li {
			box-sizing: border-box;
			&:not(:last-child) {
				padding-right: 13px;
			}
			img {
				width: 100%;
				height: 180px;
			}
			h2 {
				margin-top: 13px;
				font-size: 15px;
				color: #004964;
			}
		}
	}
}
.programs {
	padding: 30px 0 0;
	position: relative;
	opacity: 1;
	/*border-top: 3px double rgba(230, 81, 0,0.42);*/
	.programs-list {
		padding: 30px 0;
	}
	.heading {
		margin: 50px auto 10px;
	}
	.program {
		position: relative;
		vertical-align: top;
		margin-bottom: 30px;
		&:not(:nth-child(4n)) {
			margin-right: 8px;
		}
		.main-img {
			position: relative;
			padding: 10px;
			cursor: pointer;
			img {
				width: 100%;
				height: 150px;
				@include box-shadow(shadow20);
			}
			&:hover {
				.description {
					opacity: 1;
					visibility: visible;
					top: 10px;
				}
			}
		}
		h4 {
			text-align: center;
			margin-top: 13px;
    		font-size: 15px;
    		color: #004964;
		}
		.description {
			position: absolute;
			top: -20px;
			opacity: 0;
			visibility: hidden;
			padding: 20px;
			width: calc(100% - 20px);
			height: calc(100% - 20px);
			box-sizing: border-box;
			background-color: rgba(255, 255, 255,  0.62);
			transition: all 0.6s;
			z-index: 1;
			h3 {
				font-family: Tahoma;
				font-size: 18px;
				color: #212121;
				padding: 5px 0 15px;
			}
			p {
				font-size: 13px;
				color: #757575;
				line-height: 1.4;
			}
		}
	}
	.programs-categories {
		background-color: #f5f5fd;
		background-image: url(../images/poly-bg.png);
		border: 1px solid #e0e0e0;
		/*&:after {
			content: '';
			display: inline-block;
			position: absolute;
			width: 100%;
			height: 100%;
			background-image: url(../images/bg.jpg);
			opacity: 0.35;
			top: 0;
			left: 0;
		    background-position: center;
			background-size: 100%;
			background-attachment: fixed;
			background-repeat: no-repeat;
			z-index: 0;
		}*/
		.container {
			padding: 30px 0;
			position: relative;
			z-index: 99;
			> div {
				margin: 10px 0;
				padding: 30px;
				height: 400px;
				box-sizing: border-box;
				@include box-shadow(shadow24plus);
				background-color: #f2efed;
				&:nth-child(2n+1){
					margin-right: 10px;
				}
				h3 {
					font-size: 20px;
					color: #004964;
					margin-bottom: 20px;
					span {
						font-size: 15px;
						color: #757575;
						display: inline-block;
						margin-left: 10px;
					}
				}
				ul {
					li {
						margin: 15px 0 0;
						height: 135px;
						@include box-shadow(shadow24);
						transition: all 0.3s;
						&:hover {
							@include box-shadow(shadow24hover);
						}
						&:nth-child(2n+1){
							margin-right: 15px;
						}
						a, img {
							width: 100%;
							height: 100%;
						}
						a {
							position: relative;
							.title-date {
							    width: 100%;
							    padding: 12px 10px 10px;
							    line-height: 0.7;
							    box-sizing: border-box;
							    background-color: rgba(255, 255, 255, 0.8);
							    position: absolute;
							    top: auto;
							    bottom: 0;
							    text-align: right;
							    font-size: 14px;
							    span {
							    	display: inline-block;
							    	margin-right: 10px;
							    }
							    .title {
							    	color: #004964;
							    }
							    .date {
							    	color: #555;
							    }
							}
						}
					}
				}
			}
		}
	}
}