body {
  font-family: Tahoma;
  font-size: 14px;
}

a {
  color: #212121;
  text-decoration: none;
}
.left {
  float: left;
}

.right {
  float: right;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.list-inline {
  width: 100%;
  display: inline-block;
}

.list-inline > * {
  display: inline-block;
  vertical-align: top;
}

header, footer {
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
}

img {
  max-width: 100%;
}

.icon-play-1 {
  position: relative;
  text-align: center;
  cursor: pointer;
  &:before {
    position: absolute;
    display: inline-block;
    font-size: 45px;
    color: #212121;
    opacity: 0.87;
    z-index: 5;
    top: calc(50% - 35px);
    left: calc(50% - 35px);
    pointer-events: all;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: all 0.3s;
    @include box-shadow(shadow24);
  }
  &:hover {
    &:before {
      color: rgb(230, 81, 0);
      opacity: 0.95;
      @include box-shadow(shadow24hover);
    }
  }
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 8px;
}
::-webkit-scrollbar-track{
  background-color: #eaeaea;
}
::-webkit-scrollbar-thumb {
  background-color: #a8a8a8;
}