body {
  font-family: Tahoma;
  font-size: 14px;
  background-color: #f2efed;
}

a {
  color: #212121;
  text-decoration: none;
}
.left {
  float: left;
}

.right {
  float: right;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.list-inline {
  width: 100%;
  display: inline-block;
}

.list-inline > * {
  display: inline-block;
  vertical-align: top;
}

header, footer {
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
}

img {
  max-width: 100%;
}

.icon-youtube-play {
  position: relative;
  text-align: center;
  cursor: pointer;
  &:before {
    position: absolute;
    display: inline-block;
    font-size: 45px;
    color: #fff;
    opacity: 0.4;
    z-index: 5;
    top: calc(50% - 35px);
    left: calc(50% - 35px);
    pointer-events: all;
    /*border-radius: 50%;*/
    /*background-color: rgba(255, 255, 255, 0.1);*/
    transition: all 0.3s;
  }
  &:hover {
    &:before {
      /*color: rgb(230, 81, 0);*/
      opacity: 0.9;
      text-shadow: 1px 1px 15px rgba(0, 0, 0, 0.24);
    }
  }
}
#to_top_btn {
  position: fixed;
  bottom: 50px;
  right: 50px;
  color: #e65100;
  background-color: #d3d3db;
  opacity: 0;
  visibility: hidden;
  z-index: 99999;
  font-size: 40px;
  border-radius: 50%;
  @include box-shadow(shadow24);
  transition: all 0.3s;
  border: none;
  outline: none !important;
  cursor: pointer;
  padding: 0;
  line-height: 0.9;
  text-align: center;
  width: 44px;
  height: 44px;
  box-sizing: border-box;
  &.active {
    opacity: 0.6;
    visibility: visible;
    &:hover {
      opacity: 1;
      @include box-shadow(shadow24hover);
    }
    &:active {
      @include box-shadow(shadow24active);
    }
  }
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 8px;
}
::-webkit-scrollbar-track{
  background-color: #eaeaea;
}
::-webkit-scrollbar-thumb {
  background-color: #a8a8a8;
}