.logo {
  display: inline-block;
  width: 83px;
  height: 66px;
  background-image: url(../images/logo.png); 
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: all 0.3s;
}

.menu {
  display: inline-block;
}
.deg {
  font-family: Tahoma;
  display: inline-block;
  position: relative;
  padding-right: 15px;
}
.deg:before {
  content: 'o';
  display: inline-block;
  position: absolute;
  top: -3px;
  right: 8px;
}

.menu button {
  font-family: Tahoma;
  font-size: 15px;
  letter-spacing: 0.025em;
  font-weight: bold;
  display: inline-block;
  transition: all 0.3s;
  background-color: transparent;
  border: none;
  outline: none !important;
  cursor: pointer;
}

.main-menu {
  .has-submenu {
    position: relative;
    i {
      display: inline-block;
      vertical-align: middle;
      font-size: 18px;
      color: #757575;
      position: absolute;
      top: 25px;
      right: -5px;
      &:before {
        display: inline-block;
        transition: all 0.3s;
      }
    }
    .submenu {
      min-width: 500px;
      max-width: 0;
      max-height: 0;
      display: inline-block;
      visibility: hidden;
      opacity: 0;
      padding: 20px;
      box-sizing: border-box;
      position: absolute;
      top: 60px;
      right: 0;
      transition: all 0.3s;
      background-color: #d3d3db;
      border: 1px solid #ccc;
      @include box-shadow(shadow25);
      &:hover {
        @include box-shadow(shadow24hover);
      }
      >li {
        h4 {
          font-size: 14px;
          margin-bottom: 15px;
          color: #004964;
        }
        .sublist {
          font-size: 13px;
          line-height: 1.4;
          li {
            color: #757575;
            cursor: pointer;
            &:hover {
              color: #212121;
            }
          }
        }
      }
    }
    > button {
      &.active {
        i {
          &:before {
            transform: rotate(180deg);
          }
        }
      }
      &.active+.submenu,
      +.submenu:hover {
        max-width: 1000px;
        max-height: 500px;
        visibility: visible;
        opacity: 1;
        z-index: 5;
      }
    }
  }
}