.programs-categories {
	.content {
		margin-top: 135px;
	}	
	.all-list-programs {
		padding: 0px 0 40px;
		position: relative;
		.container  {
			padding: 15px 15px 10px;
			box-sizing: border-box;
			@include box-shadow(shadow24plus);
			background-color: #fff;
			.heading {
				margin-bottom: 15px;
			}
			.program-last-videos>li  {
				margin-bottom: 15px;
				&:not(:nth-child(4n)) {
					margin-right: 8px;
				}
				h3 {
					font-size: 14px;
					margin-top: 10px;
					color: #004964;
					line-height: 1.2;
					span {
						font-size: 14px;
						display: inline-block;
						color: #757575;
						margin-right: 10px;
					}
				}
				img {
					width: 100%;
					height: 165px;
				}
			}
			.pagination {
				display: inline-block;;
				width: 100%;
				border: none;
				text-align: center;
				letter-spacing: -0.3em;
				margin-bottom: 20px;
				button {
					font-size: 15px;
					cursor: pointer;
					letter-spacing: normal;
					color: #004964;
					background-color: #f0f0f0;
					padding: 5px 0;
					box-sizing: border-box;
					width: 30px;
					height: 30px;
					margin: 0;
					outline: none !important;
					border: none;
					border-style: solid;
					border-color: #e0e0e0;
					&:hover {
						@include box-shadow(shadow24hover);
						position: relative;
						z-index: 1;
					}
					&.active {
						color: #e65100;						
					}
					&:active {
						@include box-shadow(shadow24active);
					}
					&[class*="icon"] {
						margin: 0 7px;
					}
				}
				li {
					&:not(:nth-child(2)) button {
						border-width: 1px 1px 1px 0;
					}
					&:nth-child(2) button {
						border-width: 1px;
					}					
					button[class*="icon"] {
						border-width: 1px;
					}
				}
			}
		}
	}
	.seperator {
		position: relative;
		z-index: 9;
	}
}